[submodule "firmware/vendor/nrf-hal"]
	path = firmware/vendor/nrf-hal
	url = https://github.com/jamesmunns/nrf-hal.git
[submodule "firmware/vendor/kolben"]
	path = firmware/vendor/kolben
	url = https://github.com/jamesmunns/kolben.git
[submodule "firmware/vendor/postcard"]
	path = firmware/vendor/postcard
	url = https://github.com/jamesmunns/postcard.git
